<h2>这里是首页的内容区</h2>

<% goodsList.forEach(function(e){ %>
    <div class="goods-list">
		<div class="title"><%=e.goodsName%></div>
		<a href="<%= staticPath %>/goodsInfoShow/<%=e.goodsCode%>" target="_blank">
			<img src="<%= staticPath %>/<%=e.goodsImg%>" class="img">
		</a>
	</div>
<% }); %>


